{{#devices}}
<tr>
	<td>{{device}}</td>
	<td>{{version}}</td>
	<td>
		{{filename}}
		<br />
		<a href="https://lineageos-on-ipfs.com/ipfs/{{ipfs}}">{{ipfs}}</a>
	</td>
	<td>{{size}}</td>
	<td>{{date}}</td>
</tr>
{{/devices}}