{{#devices}}
<tr>
	<td><a href="https://download.lineageos.org/{{device}}">{{device}}</a></td>
	<td>{{version}}</td>
	<td>
		{{filename}}
		<br />
		<a href="https://lineageos-on-ipfs.com/ipfs/{{ipfs}}/{{filename}}">{{ipfs}}</a>
	</td>
	<td>{{size}}</td>
	<td>{{date}}</td>
</tr>
{{/devices}}